<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="application/javascript" src="/js/angularTest.js"></script>
    <meta charset="UTF-8">
    <title>Testing AngularJS</title>
</head>
<body>
    <div id="header-message">Angular Test</div>
    <div class="top10">Hej</div>
    <div class="top10to50">Hej</div>
    <div class="top50to100">Hej</div>
</body>
</html>