<!DOCTYPE html>
<html ng-app="collector">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="/js/cloud.js"></script>
    <meta charset="UTF-8">
    <title>xCloud</title>
</head>
<body>
    <h1>xCloud</h1>
    <table ng-controller="DataController as data">
        <tr ng-repeat="entry in data.allentries">
            <!--<td>{{entry.rank}}</td>-->
            <td class="top10" ng-show="entry.rank < 2">{{entry.tagStr}}</td>
            <td class="top10to50" ng-show="entry.rank > 1 && entry.rank < 3">{{entry.tagStr}}</td>
            <td class="top50to100" ng-show="entry.rank > 2">{{entry.tagStr}}</td>
        </tr>
    </table>
</body>
</html>